In [92]:
import requests
import json
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint
from config import api_key

blockbusters_df = pd.read_csv("data/blockbusters.csv")
moviebudget_df= pd.read_csv("data/Movie_budget.csv")
movieid_df= pd.read_csv("data/metadata.csv")

#Merging and cleaning data 
#Merge 1
budgetbuster_df = pd.merge(moviebudget_df,blockbusters_df, how = "right", on = "Title")
budgetbuster_df = budgetbuster_df.drop(["Worldwide_gross","Release Date","length", "rank_in_year", "rating","Year_x"], axis=1, inplace = False)
budgetbuster_df = budgetbuster_df.rename(columns={"Year_y":"Year"})
budgetbuster_df = budgetbuster_df.dropna(axis=0,inplace= False)
budgetbuster_df["Production Budget"] = budgetbuster_df["Production Budget"].astype(float)
budgetbuster_df["Domestic Gross"] = budgetbuster_df["Domestic Gross"].astype(float)
budgetbuster_df["Worldwide Gross"] = budgetbuster_df["Worldwide Gross"].astype(float)
budgetbuster_df = budgetbuster_df.drop_duplicates(subset=["Title","Year"],inplace= False)
budgetbuster_df.to_csv("datacreatedcsv/budgetbuster.csv", index_label="Movie ID")
budgetbuster_df

C:\Users\a_don\AppData\Local\Temp\ipykernel_13480\3837235004.py:13: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movieid_df= pd.read_csv("data/metadata.csv")

,Rank,Title,Production Budget,Domestic Gross,Worldwide Gross,Main Genre,2nd Genre,3rd Genre,IMDB Rating,Studio,Year
0,48,Black Panther,200000000.0,700059566.0,1336494320.00,Action,Adventure,Drama,7.4,Walt Disney Pictures,2018
1,5,Avengers: Infinity War,300000000.0,678815482.0,2048359754.00,Action,Adventure,Sci-Fi,8.5,Walt Disney Pictures,2018
2,50,Incredibles 2,200000000.0,608581744.0,1242805359.00,Animation,Action,Adventure,7.8,Pixar,2018
3,144,Jurassic World: Fallen Kingdom,170000000.0,417719760.0,1308323302.00,Action,Adventure,Drama,6.2,Universal Pictures,2018
7,11,Solo: A Star Wars Story,275000000.0,213767512.0,393151347.00,Action,Adventure,Drama,7.0,Walt Disney Pictures,2018
...,...,...,...,...,...,...,...,...,...,...,...
442,"4,918",Annie Hall,4000000.0,38251425.0,38251425,Romance,Drama,Comedy,8.1,Metro-Goldwyn-Mayer,1977
447,"2,387",The Omen,25000000.0,54607383.0,119295584,Thriller,Horror,Drama,7.6,20th Century Fox,1976
450,44,King Kong,207000000.0,218080025.0,550517357.00,Horror,Fantasy,Adventure,5.8,Paramount Pictures,1976
455,445,Midway,100000000.0,56846802.0,126815030.00,History,Drama,Action,6.7,Universal Pictures,1976
458,"4,676",The Return of the Pink Panther,5000000.0,41833347.0,41833347,Thriller,Crime,Comedy,7.1,Metro-Goldwyn-Mayer,1975

In [93]:
#Cleaning movie_id 
movieid_df = movieid_df.drop(["adult","belongs_to_collection","budget","homepage","id","Title","original_language","overview","revenue","runtime",
                                "spoken_languages","status", "tagline","video","vote_average","vote_count","popularity","poster_path","production_companies",
                                "production_countries","genres"], axis=1, inplace = False)
movieid_df = movieid_df.dropna(axis=0,inplace= False)
movieid_df['release_date'] = pd.to_datetime(movieid_df['release_date'])
movieid_df['Year'] = movieid_df['release_date'].dt.year
movieid_df = movieid_df.drop(["release_date"], axis=1, inplace = False)
movieid_df = movieid_df.rename(columns={"imdb_id":"IMDb ID", "title":"Title"})
movieid_df.to_csv("datacreatedcsv/movieid.csv", index_label="Movie ID")
movieid_df

         IMDb ID                        Title  Year
0      tt0114709                    Toy Story  1995
1      tt0113497                      Jumanji  1995
2      tt0113228             Grumpier Old Men  1995
3      tt0114885            Waiting to Exhale  1995
4      tt0113041  Father of the Bride Part II  1995
...          ...                          ...   ...
45460  tt0102797                   Robin Hood  1991
45462  tt2028550          Century of Birthing  2011
45463  tt0303758                     Betrayal  2003
45464  tt0008536             Satan Triumphant  1917
45465  tt6980792                     Queerama  2017

[45362 rows x 3 columns]

In [ ]:
#Merging all csv together
csvmovies_df = pd.merge(budgetbuster_df,movieid_df, how= "left", on=["Title","Year"])
csvmovies_df = csvmovies_df.drop_duplicates(subset=["Title","Year"],inplace= False)
csvmovies_df.to_csv("datacreatedcsv/csvmovies.csv", index_label="Movie ID")
csvmovies_df

,Rank,Title,Production Budget,Domestic Gross,Worldwide Gross,Main Genre,2nd Genre,3rd Genre,IMDB Rating,Studio,Year,IMDb ID
0,48,Black Panther,200000000.0,700059566.0,1336494320.00,Action,Adventure,Drama,7.4,Walt Disney Pictures,2018,NaN
1,5,Avengers: Infinity War,300000000.0,678815482.0,2048359754.00,Action,Adventure,Sci-Fi,8.5,Walt Disney Pictures,2018,NaN
2,50,Incredibles 2,200000000.0,608581744.0,1242805359.00,Animation,Action,Adventure,7.8,Pixar,2018,NaN
3,144,Jurassic World: Fallen Kingdom,170000000.0,417719760.0,1308323302.00,Action,Adventure,Drama,6.2,Universal Pictures,2018,NaN
4,11,Solo: A Star Wars Story,275000000.0,213767512.0,393151347.00,Action,Adventure,Drama,7.0,Walt Disney Pictures,2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
217,"4,918",Annie Hall,4000000.0,38251425.0,38251425,Romance,Drama,Comedy,8.1,Metro-Goldwyn-Mayer,1977,tt0075686
218,"2,387",The Omen,25000000.0,54607383.0,119295584,Thriller,Horror,Drama,7.6,20th Century Fox,1976,tt0075005
219,44,King Kong,207000000.0,218080025.0,550517357.00,Horror,Fantasy,Adventure,5.8,Paramount Pictures,1976,tt0074751
220,445,Midway,100000000.0,56846802.0,126815030.00,History,Drama,Action,6.7,Universal Pictures,1976,tt0074899
221,"4,676",The Return of the Pink Panther,5000000.0,41833347.0,41833347,Thriller,Crime,Comedy,7.1,Metro-Goldwyn-Mayer,1975,tt0072081

In [94]:
#Retrieving Data from OMDb 
#Adding director based on title with null IMDb ID
NaNid_df = csvmovies_df[csvmovies_df["IMDb ID"].isnull()]
title =NaNid_df["Title"].tolist()
url = "http://www.omdbapi.com/?apikey=" + api_key + "&t="
title_response = []

for movie in title:
    movie_data = requests.get(url + movie).json()
    
    try:
        directors = movie_data["Director"]
    except:
        diretors = "N/A"


    title_response.append({ "Title":movie,
                    "Director": directors})
  
    print(f"{movie} was directed by {directors}")

Black Panther was directed by Ryan Coogler
Avengers: Infinity War was directed by Anthony Russo, Joe Russo
Incredibles 2 was directed by Brad Bird
Jurassic World: Fallen Kingdom was directed by J.A. Bayona
Solo: A Star Wars Story was directed by Ron Howard
Venom was directed by Ruben Fleischer
Jumanji: Welcome to the Jungle was directed by Jake Kasdan
Spider-Man: Homecoming was directed by Jon Watts
It was directed by Andy Muschietti
WALL-E was directed by Andrew Stanton
300 was directed by Zack Snyder
Superman II was directed by Richard Lester, Richard Donner

In [ ]:
#Retrieving Data from OMDb 
#Adding director based on title with null IMDb ID
imdbid_df = csvmovies_df.dropna(axis=0,inplace= False)
imdbid = imdbid_df["IMDb ID"].tolist()
url = "http://www.omdbapi.com/?apikey=" + api_key + "&i="
id_response = []

for id in imdbid:
    movie_data = requests.get(url + id).json()
    
    try:
        directors = movie_data["Director"]
    except:
        diretors = "N/A"


    id_response.append({ "IMDb ID":id,
                    "Director": directors})
  
    print(f"{id} was directed by {directors}")

tt0451279 was directed by Patty Jenkins
tt3501632 was directed by Taika Waititi
tt0974015 was directed by Zack Snyder
tt3748528 was directed by Gareth Edwards
tt3498820 was directed by Anthony Russo, Joe Russo
tt1431045 was directed by Tim Miller
tt2948356 was directed by Byron Howard, Rich Moore, Jared Bush
tt2975590 was directed by Zack Snyder
tt3470600 was directed by Garth Jennings, Christophe Lourdelet
tt0369610 was directed by Colin Trevorrow
tt2395427 was directed by Joss Whedon
tt2820852 was directed by James Wan
tt2293640 was directed by Kyle Balda, Pierre Coffin
tt1951266 was directed by Francis Lawrence
tt2109248 was directed by Michael Bay
tt2015381 was directed by James Gunn
tt1587310 was directed by Robert Stromberg
tt1877832 was directed by Bryan Singer
tt1843866 was directed by Anthony Russo, Joe Russo
tt1872181 was directed by Marc Webb
tt2103281 was directed by Matt Reeves
tt2294629 was directed by Chris Buck, Jennifer Lee
tt1300854 was directed by Shane Black
tt1690953 was directed by Pierre Coffin, Chris Renaud
tt1453405 was directed by Dan Scanlon
tt1454468 was directed by Alfonso Cuarón
tt0770828 was directed by Zack Snyder
tt1981115 was directed by Alan Taylor
tt0848228 was directed by Joss Whedon
tt1074638 was directed by Sam Mendes
tt1667889 was directed by Steve Martino, Michael Thurmeier
tt0948470 was directed by Marc Webb
tt1277953 was directed by Eric Darnell, Tom McGrath, Conrad Vernon
tt1409024 was directed by Barry Sonnenfeld
tt1399103 was directed by Michael Bay
tt1298650 was directed by Rob Marshall
tt1302011 was directed by Jennifer Yuh Nelson
tt1596343 was directed by Justin Lin
tt0472181 was directed by Raja Gosnell
tt1216475 was directed by John Lasseter, Bradford Lewis
tt0435761 was directed by Lee Unkrich
tt1014759 was directed by Tim Burton
tt1375666 was directed by Christopher Nolan
tt0892791 was directed by Mike Mitchell
tt1325004 was directed by David Slade
tt1228705 was directed by Jon Favreau
tt0398286 was directed by Nathan Greno, Byron Howard
tt1323594 was directed by Pierre Coffin, Chris Renaud
tt0892769 was directed by Dean DeBlois, Chris Sanders
tt0499549 was directed by James Cameron
tt0417741 was directed by David Yates
tt1080016 was directed by Carlos Saldanha, Michael Thurmeier
tt1055369 was directed by Michael Bay
tt1190080 was directed by Roland Emmerich
tt1049413 was directed by Pete Docter, Bob Peterson
tt1259571 was directed by Chris Weitz
tt0988045 was directed by Guy Ritchie
tt0468569 was directed by Christopher Nolan
tt0441773 was directed by Mark Osborne, John Stevenson
tt0795421 was directed by Phyllida Lloyd
tt0479952 was directed by Eric Darnell, Tom McGrath
tt0371746 was directed by Jon Favreau
tt0499448 was directed by Andrew Adamson
tt0373889 was directed by David Yates
tt0413267 was directed by Chris Miller, Raman Hui
tt0418279 was directed by Michael Bay
tt0382932 was directed by Brad Bird, Jan Pinkava
tt0462538 was directed by David Silverman
tt0438097 was directed by Carlos Saldanha
tt0381061 was directed by Martin Campbell
tt0477347 was directed by Shawn Levy
tt0317219 was directed by John Lasseter, Joe Ranft
tt0376994 was directed by Brett Ratner
tt0317919 was directed by J.J. Abrams
tt0348150 was directed by Bryan Singer
tt0366548 was directed by George Miller, Warren Coleman, Judy Morris
tt0330373 was directed by Mike Newell
tt0407304 was directed by Steven Spielberg
tt0360717 was directed by Peter Jackson
tt0351283 was directed by Eric Darnell, Tom McGrath
tt0367594 was directed by Tim Burton
tt0298148 was directed by Andrew Adamson, Kelly Asbury, Conrad Vernon
tt0304141 was directed by Alfonso Cuarón
tt0317705 was directed by Brad Bird
tt0319262 was directed by Roland Emmerich
tt0307453 was directed by Bibo Bergeron, Vicky Jenson, Rob Letterman
tt0167260 was directed by Peter Jackson
tt0266543 was directed by Andrew Stanton, Lee Unkrich
tt0315327 was directed by Tom Shadyac
tt0325710 was directed by Edward Zwick
tt0172156 was directed by Michael Bay
tt0295297 was directed by Chris Columbus
tt0246460 was directed by Lee Tamahori
tt0286106 was directed by M. Night Shyamalan
tt0268380 was directed by Chris Wedge, Carlos Saldanha
tt0181689 was directed by Steven Spielberg
tt0198781 was directed by Pete Docter, David Silverman, Lee Unkrich
tt0126029 was directed by Andrew Adamson, Vicky Jenson
tt0213149 was directed by Michael Bay
tt0209163 was directed by Stephen Sommers
tt0163025 was directed by Joe Johnston
tt0133152 was directed by Tim Burton
tt0212985 was directed by Ridley Scott
tt0207201 was directed by Nancy Meyers
tt0130623 was directed by Eric Leighton, Ralph Zondag
tt0170016 was directed by Ron Howard
tt0177971 was directed by Wolfgang Petersen
tt0120903 was directed by Bryan Singer
tt0161081 was directed by Robert Zemeckis
tt0167404 was directed by M. Night Shyamalan
tt0120363 was directed by John Lasseter, Ash Brannon, Lee Unkrich
tt0120855 was directed by Chris Buck, Kevin Lima
tt0120616 was directed by Stephen Sommers
tt0125439 was directed by Roger Michell
tt0145660 was directed by Jay Roach
tt0120591 was directed by Michael Bay
tt0120815 was directed by Steven Spielberg
tt0120685 was directed by Roland Emmerich
tt0120647 was directed by Mimi Leder
tt0120762 was directed by Tony Bancroft, Barry Cook
tt0138097 was directed by John Madden
tt0122151 was directed by Richard Donner
tt0119567 was directed by Steven Spielberg
tt0120347 was directed by Roger Spottiswoode
tt0118571 was directed by Wolfgang Petersen
tt0119116 was directed by Luc Besson
tt0119164 was directed by Peter Cattaneo
tt0116629 was directed by Roland Emmerich
tt0117998 was directed by Jan de Bont
tt0117060 was directed by Brian De Palma
tt0117500 was directed by Michael Bay
tt0116583 was directed by Gary Trousdale, Kirk Wise
tt0117218 was directed by Tom Shadyac
tt0116695 was directed by Cameron Crowe
tt0116213 was directed by Chuck Russell
tt0114709 was directed by John Lasseter
tt0112384 was directed by Ron Howard
tt0114148 was directed by Mike Gabriel, Eric Goldberg
tt0112462 was directed by Joel Schumacher
tt0112642 was directed by Brad Silberling
tt0114898 was directed by Kevin Reynolds
tt0113497 was directed by Joe Johnston
tt0110357 was directed by Roger Allers, Rob Minkoff
tt0111503 was directed by James Cameron
tt0110475 was directed by Chuck Russell
tt0111257 was directed by Jan de Bont
tt0109813 was directed by Brian Levant
tt0109831 was directed by Mike Newell
tt0109444 was directed by Phillip Noyce
tt0107290 was directed by Steven Spielberg
tt0107614 was directed by Chris Columbus
tt0106977 was directed by Andrew Davis
tt0106918 was directed by Sydney Pollack
tt0106582 was directed by Renny Harlin
tt0107798 was directed by Alan J. Pakula
tt0103639 was directed by Ron Clements, John Musker
tt0103855 was directed by Mick Jackson
tt0104431 was directed by Chris Columbus
tt0104714 was directed by Richard Donner
tt0102798 was directed by Kevin Reynolds
tt0101414 was directed by Gary Trousdale, Kirk Wise
tt0102057 was directed by Steven Spielberg
tt0102138 was directed by Oliver Stone
tt0099653 was directed by Jerry Zucker
tt0099348 was directed by Kevin Costner
tt0100802 was directed by Paul Verhoeven
tt0099088 was directed by Robert Zemeckis
tt0100758 was directed by Steve Barron
tt0099938 was directed by Ivan Reitman
tt0096874 was directed by Robert Zemeckis
tt0096969 was directed by Oliver Stone
tt0094737 was directed by Penny Marshall
tt0094889 was directed by Roger Donaldson
tt0092644 was directed by Tony Scott
tt0094226 was directed by Brian De Palma
tt0093409 was directed by Richard Donner
tt0092099 was directed by Tony Scott
tt0092007 was directed by Leonard Nimoy
tt0090605 was directed by James Cameron
tt0091129 was directed by Michael Ritchie
tt0088763 was directed by Robert Zemeckis
tt0089880 was directed by George P. Cosmatos
tt0090329 was directed by Peter Weir
tt0087469 was directed by Steven Spielberg
tt0087538 was directed by John G. Avildsen
tt0087277 was directed by Herbert Ross
tt0088170 was directed by Leonard Nimoy
tt0085549 was directed by Adrian Lyne
tt0086034 was directed by John Glen
tt0083866 was directed by Steven Spielberg
tt0084726 was directed by Nicholas Meyer
tt0083564 was directed by John Huston
tt0082158 was directed by Hugh Hudson
tt0082398 was directed by John Glen
tt0081633 was directed by Terry Gilliam
tt0080453 was directed by Randal Kleiser
tt0080455 was directed by John Landis
tt0079945 was directed by Robert Wise
tt0079574 was directed by Lewis Gilbert
tt0079588 was directed by James Frawley
tt0078346 was directed by Richard Donner
tt0077663 was directed by Warren Beatty, Buck Henry
tt0075784 was directed by Richard Attenborough
tt0076752 was directed by Lewis Gilbert
tt0075686 was directed by Woody Allen
tt0075005 was directed by Richard Donner
tt0074751 was directed by John Guillermin
tt0074899 was directed by Jack Smight
tt0072081 was directed by Blake Edwards

In [ ]:
NaNdirect_df = pd.DataFrame(title_response)
IDdirect_df = pd.DataFrame(id_response)

In [95]:
NaNmovies_df = pd.merge(csvmovies_df,NaNdirect_df, on = "Title")
NaNmovies_df.to_csv("datacreatedcsv/NaNmovies.csv", index_label="Movie ID")
NaNmovies_df

,Rank,Title,Production Budget,Domestic Gross,Worldwide Gross,Main Genre,2nd Genre,3rd Genre,IMDB Rating,Studio,Year,IMDb ID,Director
0,48,Black Panther,200000000.0,700059566.0,1336494320.00,Action,Adventure,Drama,7.4,Walt Disney Pictures,2018,NaN,Ryan Coogler
1,5,Avengers: Infinity War,300000000.0,678815482.0,2048359754.00,Action,Adventure,Sci-Fi,8.5,Walt Disney Pictures,2018,NaN,"Anthony Russo, Joe Russo"
2,50,Incredibles 2,200000000.0,608581744.0,1242805359.00,Animation,Action,Adventure,7.8,Pixar,2018,NaN,Brad Bird
3,144,Jurassic World: Fallen Kingdom,170000000.0,417719760.0,1308323302.00,Action,Adventure,Drama,6.2,Universal Pictures,2018,NaN,J.A. Bayona
4,11,Solo: A Star Wars Story,275000000.0,213767512.0,393151347.00,Action,Adventure,Drama,7.0,Walt Disney Pictures,2018,NaN,Ron Howard
5,353,Venom,116000000.0,213511408.0,856081053.00,Action,Adventure,Drama,6.9,Columbia Pictures,2018,NaN,Ruben Fleischer
6,503,Jumanji: Welcome to the Jungle,90000000.0,404508916.0,961632807.00,Action,Adventure,Comedy,7.0,Sony Pictures,2017,NaN,Jake Kasdan
7,127,Spider-Man: Homecoming,175000000.0,334201140.0,878271291.00,Action,Adventure,Drama,7.5,Sony Pictures,2017,NaN,Jon Watts
8,1785,It,35000000.0,328828874.0,701012746.00,Horror,Drama,Mystery,7.4,Warner Bros,2017,NaN,Andy Muschietti
9,114,WALL-E,180000000.0,223808164.0,532508025.00,Animation,Animation,Adventure,8.4,Pixar,2008,NaN,Andrew Stanton
10,949,300,60000000.0,210614939.0,454161935.00,War,Fantasy,Action,7.8,Warner Bros,2007,NaN,Zack Snyder
11,1162,Superman II,54000000.0,108185706.0,190400000.00,Sci-Fi,Romance,Action,6.8,Warner Bros,1981,NaN,"Richard Lester, Richard Donner"

In [96]:
IDmovies_df = pd.merge(csvmovies_df,IDdirect_df, on = "IMDb ID")
IDmovies_df.to_csv("datacreatedcsv/IDmovies.csv", index_label="Movie ID")
IDmovies_df

,Rank,Title,Production Budget,Domestic Gross,Worldwide Gross,Main Genre,2nd Genre,3rd Genre,IMDB Rating,Studio,Year,IMDb ID,Director
0,192,Wonder Woman,150000000.0,412563408.0,817691766.00,Action,Adventure,Drama,7.5,Warner Bros,2017,tt0451279,Patty Jenkins
1,110,Thor: Ragnarok,180000000.0,315058289.0,850482778.00,Action,Adventure,Drama,7.9,Walt Disney Pictures,2017,tt3501632,Taika Waititi
2,7,Justice League,300000000.0,229024295.0,655945209.00,Action,Adventure,Drama,6.5,Warner Bros,2017,tt0974015,Zack Snyder
3,51,Rogue One: A Star Wars Story,200000000.0,533539991.0,1055083596.00,Action,Adventure,Drama,7.8,Walt Disney Pictures,2016,tt3748528,Gareth Edwards
4,18,Captain America: Civil War,250000000.0,408084349.0,1151899586.00,Action,Adventure,Sci-Fi,7.8,Walt Disney Pictures,2016,tt3498820,"Anthony Russo, Joe Russo"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,"4,918",Annie Hall,4000000.0,38251425.0,38251425,Romance,Drama,Comedy,8.1,Metro-Goldwyn-Mayer,1977,tt0075686,Woody Allen
205,"2,387",The Omen,25000000.0,54607383.0,119295584,Thriller,Horror,Drama,7.6,20th Century Fox,1976,tt0075005,Richard Donner
206,44,King Kong,207000000.0,218080025.0,550517357.00,Horror,Fantasy,Adventure,5.8,Paramount Pictures,1976,tt0074751,John Guillermin
207,445,Midway,100000000.0,56846802.0,126815030.00,History,Drama,Action,6.7,Universal Pictures,1976,tt0074899,Jack Smight
208,"4,676",The Return of the Pink Panther,5000000.0,41833347.0,41833347,Thriller,Crime,Comedy,7.1,Metro-Goldwyn-Mayer,1975,tt0072081,Blake Edwards

In [97]:
allmovies_df = NaNmovies_df.append(IDmovies_df)
allmovies_df.to_csv("allmoviesdata.csv", index_label="Movie ID")

C:\Users\a_don\AppData\Local\Temp\ipykernel_13480\707215395.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  allmovies_df = NaNmovies_df.append(IDmovies_df)

Changes in Cost Over the Years

* main - line

* 1990's

* 2000's

* 2010's

Production Costs per Genre
* pie chart - broken by genre
* pie chart - production companies

Production Cost vs Domestic and Worldwide Gross
* production cost vs domestic - scatter plot
* production cost vs worldwide

Production Cost vs Viewer Ratings
* scatter plot

Director
* bar - combined gross for movies

* top 100 movies directors