In [39]:
import requests
import json
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint
from config import api_key

blockbusters_df = pd.read_csv("data/blockbusters.csv")
moviebudget_df= pd.read_csv("data/Movie_budget.csv")

movies_df = pd.merge(moviebudget_df,blockbusters_df, how = "right", on = "Title")
movies_df = movies_df.dropna(axis=0)
movies_df = movies_df.drop(["Worldwide_gross"], axis=1)
movies_df

,Rank,Release Date,Title,Production Budget,Domestic Gross,Worldwide Gross,Main Genre,2nd Genre,3rd Genre,IMDB Rating,length,rank_in_year,rating,Studio,Year
0,48.0,13-Feb-18,Black Panther,200000000,700059566,1336494320,Action,Adventure,Drama,7.4,135,1,PG-13,Walt Disney Pictures,2018
1,5.0,25-Apr-18,Avengers: Infinity War,300000000,678815482,2048359754,Action,Adventure,Sci-Fi,8.5,156,2,PG-13,Walt Disney Pictures,2018
2,50.0,15-Jun-18,Incredibles 2,200000000,608581744,1242805359,Animation,Action,Adventure,7.8,118,3,PG,Pixar,2018
3,144.0,6-Jun-18,Jurassic World: Fallen Kingdom,170000000,417719760,1308323302,Action,Adventure,Drama,6.2,129,4,PG-13,Universal Pictures,2018
7,11.0,23-May-18,Solo: A Star Wars Story,275000000,213767512,393151347,Action,Adventure,Drama,7.0,135,8,PG-13,Walt Disney Pictures,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,877.0,1-Jun-90,Total Recall,65000000,119394839,261399830,Action,Sci-Fi,Mystery,7.5,113,5,R,Sony Pictures,1990
293,313.0,8-Aug-14,Teenage Mutant Ninja Turtles,125000000,191204754,485004754,Comedy,Adventure,Action,6.7,93,9,PG,Warner Bros,1990
374,886.0,18-Dec-14,Annie,65000000,85911262,139829625,Family,Drama,Comedy,6.5,127,10,PG,Columbia Pictures,1982
431,44.0,14-Dec-05,King Kong,207000000,218080025,550517357,Horror,Fantasy,Adventure,5.8,134,7,PG,Paramount Pictures,1976
434,445.0,7-Nov-19,Midway,100000000,56846802,126815030,History,Drama,Action,6.7,132,10,PG,Universal Pictures,1976

In [42]:
#Retrieving Data from OMDb 
#Adding director and actors
title= movies_df["Title"].tolist()
url = "http://www.omdbapi.com/?apikey=" + api_key + "&t="
response = []

for movie in title:
    movie_data = requests.get(url + movie).json()
    
    try:
        directors = movie_data["Director"]
    except:
        diretors = "N/A"


    response.append({ "Title":movie,
                    "Dirtector": directors})
  
    print(f"{movie} was directed by {directors}")

Black Panther was directed by Ryan Coogler
Avengers: Infinity War was directed by Anthony Russo, Joe Russo
Incredibles 2 was directed by Brad Bird
Jurassic World: Fallen Kingdom was directed by J.A. Bayona
Solo: A Star Wars Story was directed by J.A. Bayona
Venom was directed by Ruben Fleischer
Wonder Woman was directed by Ruben Fleischer
Jumanji: Welcome to the Jungle was directed by Ruben Fleischer
Spider-Man: Homecoming was directed by Ruben Fleischer
Thor: Ragnarok was directed by Ruben Fleischer
Justice League was directed by Ruben Fleischer
Rogue One: A Star Wars Story was directed by Ruben Fleischer
Captain America: Civil War was directed by Ruben Fleischer
Zootopia was directed by Ruben Fleischer
Batman v Superman: Dawn of Justice was directed by Zack Snyder
Sing was directed by Garth Jennings, Christophe Lourdelet
Jurassic World was directed by Colin Trevorrow
Avengers: Age of Ultron was directed by Colin Trevorrow
Furious 7 was directed by Colin Trevorrow
Minions was directed by Colin Trevorrow
The Hunger Games: Mockingjay - Part 2 was directed by Colin Trevorrow
Transformers: Age of Extinction was directed by Colin Trevorrow
Guardians of the Galaxy was directed by James Gunn
Maleficent was directed by Robert Stromberg
X-Men: Days of Future Past was directed by Robert Stromberg
Captain America: The Winter Soldier was directed by Robert Stromberg
The Amazing Spider-Man 2 was directed by Marc Webb
Dawn of the Planet of the Apes was directed by Marc Webb
Frozen was directed by Marc Webb
Iron Man 3 was directed by Marc Webb
Despicable Me 2 was directed by Marc Webb
Monsters University was directed by Dan Scanlon
Gravity was directed by Dan Scanlon
Man of Steel was directed by Dan Scanlon
Thor: The Dark World was directed by Alan Taylor
The Avengers was directed by Joss Whedon
Skyfall was directed by Joss Whedon
Ice Age: Continental Drift was directed by Steve Martino, Michael Thurmeier
The Amazing Spider-Man was directed by Steve Martino, Michael Thurmeier
Madagascar 3: Europe's Most Wanted was directed by Eric Darnell, Tom McGrath, Conrad Vernon
Men in Black 3 was directed by Eric Darnell, Tom McGrath, Conrad Vernon
Transformers: Dark of the Moon was directed by Eric Darnell, Tom McGrath, Conrad Vernon
Pirates of the Caribbean: On Stranger Tides was directed by Rob Marshall
Kung Fu Panda 2 was directed by Jennifer Yuh Nelson
Fast Five was directed by Jennifer Yuh Nelson
The Smurfs was directed by Raja Gosnell
Cars 2 was directed by Raja Gosnell
Toy Story 3 was directed by Lee Unkrich
Alice in Wonderland was directed by Lee Unkrich
Inception was directed by Christopher Nolan
Shrek Forever After was directed by Christopher Nolan
The Twilight Saga: Eclipse was directed by David Slade
Iron Man 2 was directed by David Slade
Tangled was directed by David Slade
Despicable Me was directed by Pierre Coffin, Chris Renaud
How to Train Your Dragon was directed by Dean DeBlois, Chris Sanders
Avatar was directed by James Cameron
Harry Potter and the Half-Blood Prince was directed by James Cameron
Ice Age: Dawn of the Dinosaurs was directed by James Cameron
Transformers: Revenge of the Fallen was directed by James Cameron
2012 was directed by Roland Emmerich
Up was directed by Pete Docter, Bob Peterson
Sherlock Holmes was directed by Guy Ritchie
The Dark Knight was directed by Guy Ritchie
Kung Fu Panda was directed by Mark Osborne, John Stevenson
Madagascar: Escape 2 Africa was directed by Eric Darnell, Tom McGrath
Iron Man was directed by Jon Favreau
WALL-E was directed by Jon Favreau
The Chronicles of Narnia: Prince Caspian was directed by Jon Favreau
Harry Potter and the Order of the Phoenix was directed by Jon Favreau
Shrek the Third was directed by Jon Favreau
Transformers was directed by Michael Bay
Ratatouille was directed by Brad Bird, Jan Pinkava
The Simpsons Movie was directed by David Silverman
300 was directed by Zack Snyder
Ice Age: The Meltdown was directed by Zack Snyder
Casino Royale was directed by Martin Campbell
Night at the Museum was directed by Shawn Levy
Cars was directed by John Lasseter, Joe Ranft
X-Men: The Last Stand was directed by Brett Ratner
Mission: Impossible III was directed by Brett Ratner
Superman Returns was directed by Brett Ratner
Happy Feet was directed by George Miller, Warren Coleman, Judy Morris
Harry Potter and the Goblet of Fire was directed by George Miller, Warren Coleman, Judy Morris
War of the Worlds was directed by George Miller, Warren Coleman, Judy Morris
King Kong was directed by Peter Jackson
Madagascar was directed by Peter Jackson
Charlie and the Chocolate Factory was directed by Tim Burton
Shrek 2 was directed by Andrew Adamson, Kelly Asbury, Conrad Vernon
Harry Potter and the Prisoner of Azkaban was directed by Andrew Adamson, Kelly Asbury, Conrad Vernon
The Incredibles was directed by Brad Bird
The Day After Tomorrow was directed by Brad Bird
Shark Tale was directed by Brad Bird
The Lord of the Rings: The Return of the King was directed by Peter Jackson
Finding Nemo was directed by Peter Jackson
Bruce Almighty was directed by Peter Jackson
The Last Samurai was directed by Edward Zwick
Bad Boys II was directed by Edward Zwick
Harry Potter and the Chamber of Secrets was directed by Edward Zwick
Die Another Day was directed by Lee Tamahori
Signs was directed by Lee Tamahori
Ice Age was directed by Chris Wedge, Carlos Saldanha
Minority Report was directed by Steven Spielberg
Monsters, Inc. was directed by Steven Spielberg
Pearl Harbor was directed by Michael Bay
The Mummy Returns was directed by Stephen Sommers
Jurassic Park III was directed by Stephen Sommers
Planet of the Apes was directed by Tim Burton
Hannibal was directed by Ridley Scott
What Women Want was directed by Nancy Meyers
Dinosaur was directed by Nancy Meyers
How the Grinch Stole Christmas was directed by Ron Howard
The Perfect Storm was directed by Wolfgang Petersen
X-Men was directed by Wolfgang Petersen
What Lies Beneath was directed by Robert Zemeckis
Toy Story 2 was directed by John Lasseter, Ash Brannon, Lee Unkrich
Tarzan was directed by John Lasseter, Ash Brannon, Lee Unkrich
The Mummy was directed by John Lasseter, Ash Brannon, Lee Unkrich
The Mummy was directed by John Lasseter, Ash Brannon, Lee Unkrich
Armageddon was directed by Michael Bay
Saving Private Ryan was directed by Michael Bay
Godzilla was directed by Gareth Edwards
Godzilla was directed by Gareth Edwards
Deep Impact was directed by Mimi Leder
Mulan was directed by Mimi Leder
Mulan was directed by Tony Bancroft, Barry Cook
Lethal Weapon 4 was directed by Richard Donner
The Lost World: Jurassic Park was directed by Richard Donner
Tomorrow Never Dies was directed by Richard Donner
Air Force One was directed by Richard Donner
The Fifth Element was directed by Richard Donner
Independence Day was directed by Richard Donner
Twister was directed by Jan de Bont
Mission: Impossible was directed by Jan de Bont
The Rock was directed by Jan de Bont
The Hunchback of Notre Dame was directed by Gary Trousdale, Kirk Wise
Eraser was directed by Chuck Russell
Apollo 13 was directed by Chuck Russell
Batman Forever was directed by Chuck Russell
Waterworld was directed by Kevin Reynolds
Jumanji was directed by Kevin Reynolds
The Lion King was directed by Kevin Reynolds
The Lion King was directed by Kevin Reynolds
True Lies was directed by Kevin Reynolds
Clear and Present Danger was directed by Phillip Noyce
Jurassic Park was directed by Phillip Noyce
Cliffhanger was directed by Phillip Noyce
Aladdin was directed by Ron Clements, John Musker
Beauty and the Beast was directed by Ron Clements, John Musker
Hook was directed by Steven Spielberg
Total Recall was directed by Steven Spielberg
Total Recall was directed by Steven Spielberg
Teenage Mutant Ninja Turtles was directed by Jonathan Liebesman
Annie was directed by John Huston
King Kong was directed by Peter Jackson
Midway was directed by Peter Jackson

In [43]:
director_df = pd.DataFrame(response)
director_df.to_csv("data/director.csv", index_label="Movie ID")
director_df

                              Title                 Dirtector
0                     Black Panther              Ryan Coogler
1            Avengers: Infinity War  Anthony Russo, Joe Russo
2                     Incredibles 2                 Brad Bird
3    Jurassic World: Fallen Kingdom               J.A. Bayona
4           Solo: A Star Wars Story               J.A. Bayona
..                              ...                       ...
151                    Total Recall          Steven Spielberg
152    Teenage Mutant Ninja Turtles        Jonathan Liebesman
153                           Annie               John Huston
154                       King Kong             Peter Jackson
155                          Midway             Peter Jackson

[156 rows x 2 columns]

In [45]:
allmovies_df = pd.merge(movies_df,director_df, how = "left", on = "Title")
allmovies_df

,Rank,Release Date,Title,Production Budget,Domestic Gross,Worldwide Gross,Main Genre,2nd Genre,3rd Genre,IMDB Rating,length,rank_in_year,rating,Studio,Year,Dirtector
0,48.0,13-Feb-18,Black Panther,200000000,700059566,1336494320,Action,Adventure,Drama,7.4,135,1,PG-13,Walt Disney Pictures,2018,Ryan Coogler
1,5.0,25-Apr-18,Avengers: Infinity War,300000000,678815482,2048359754,Action,Adventure,Sci-Fi,8.5,156,2,PG-13,Walt Disney Pictures,2018,"Anthony Russo, Joe Russo"
2,50.0,15-Jun-18,Incredibles 2,200000000,608581744,1242805359,Animation,Action,Adventure,7.8,118,3,PG,Pixar,2018,Brad Bird
3,144.0,6-Jun-18,Jurassic World: Fallen Kingdom,170000000,417719760,1308323302,Action,Adventure,Drama,6.2,129,4,PG-13,Universal Pictures,2018,J.A. Bayona
4,11.0,23-May-18,Solo: A Star Wars Story,275000000,213767512,393151347,Action,Adventure,Drama,7.0,135,8,PG-13,Walt Disney Pictures,2018,J.A. Bayona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,313.0,8-Aug-14,Teenage Mutant Ninja Turtles,125000000,191204754,485004754,Comedy,Adventure,Action,6.7,93,9,PG,Warner Bros,1990,Jonathan Liebesman
164,886.0,18-Dec-14,Annie,65000000,85911262,139829625,Family,Drama,Comedy,6.5,127,10,PG,Columbia Pictures,1982,John Huston
165,44.0,14-Dec-05,King Kong,207000000,218080025,550517357,Horror,Fantasy,Adventure,5.8,134,7,PG,Paramount Pictures,1976,Peter Jackson
166,44.0,14-Dec-05,King Kong,207000000,218080025,550517357,Horror,Fantasy,Adventure,5.8,134,7,PG,Paramount Pictures,1976,Peter Jackson
167,445.0,7-Nov-19,Midway,100000000,56846802,126815030,History,Drama,Action,6.7,132,10,PG,Universal Pictures,1976,Peter Jackson

Changes in Cost Over the Years

* main - line

* 1990's

* 2000's

* 2010's

Production Costs per Genre
* pie chart - broken by genre
* pie chart - production companies

Production Cost vs Domestic and Worldwide Gross
* production cost vs domestic - scatter plot
* production cost vs worldwide

Production Cost vs Viewer Ratings
* scatter plot

Director
* bar - combined gross for movies

* top 100 movies directors